# Project Prototype

In [2]:


import pandas as pd
Mortality = pd.read_csv("Mortality Both Sexes.csv")
MortalityF = pd.read_csv("Mortality Female.csv")
MortalityM = pd.read_csv("Mortality Male.csv")
Alcohol = pd.read_csv("WHOAlcoholTotalPerCapita_2021-09-20v2.csv")

print(Mortality)
print(Alcohol)

      Unnamed: 0   ParentLocation    Location  Period         Sex  \
0              0         Americas    Barbados    2016  Both sexes
1              1           Europe      Serbia    2016  Both sexes
2              2           Europe      Turkey    2016  Both sexes
3              3           Europe    Slovakia    2016  Both sexes
4              4  Western Pacific       Samoa    2016  Both sexes
...          ...              ...         ...     ...         ...
3106        3106           Europe     Germany    2000  Both sexes
3107        3107           Europe      France    2000  Both sexes
3108        3108           Europe     Belgium    2000  Both sexes
3109        3109           Europe     Denmark    2000  Both sexes
3110        3110         Americas  Costa Rica    2000  Both sexes

      Adult mortality rate              DateModified
0                   100.40  2018-05-06T18:30:00.000Z
1                   102.50  2018-05-06T18:30:00.000Z
2                   104.00  2018-05-06T18:30:00.000Z
3                   104.10  2018-05-06T18:30:00.000Z
4                   110.40  2018-05-06T18:30:00.000Z
...                    ...                       ...
3106                 95.18  2018-05-06T18:30:00.000Z
3107                 99.17  2018-05-06T18:30:00.000Z
3108                 99.35  2018-05-06T18:30:00.000Z
3109                 99.82  2018-05-06T18:30:00.000Z
3110                 99.88  2018-05-06T18:30:00.000Z

[3111 rows x 7 columns]

### Question 1

                                     Unnamed: 0  Period  Adult mortality rate
Location
Afghanistan                         1566.411765  2008.0            266.335294
Albania                             1496.882353  2008.0            101.574706
Algeria                             1516.235294  2008.0            113.668824
Angola                              1575.235294  2008.0            297.294118
Antigua and Barbuda                 1495.117647  2008.0            140.858824
...                                         ...     ...                   ...
Venezuela (Bolivarian Republic of)  1517.647059  2008.0            166.700000
Viet Nam                            1488.882353  2008.0            133.300000
Yemen                               1556.235294  2008.0            239.388235
Zambia                              1597.705882  2008.0            446.694118
Zimbabwe                            1606.529412  2008.0            549.347059

[183 rows x 3 columns]

### Question 2

In [ ]:
byLocation = Mortality.groupby('Location').mean()
print(byLocation)

### Question 3

### Question 4